<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/homepage">Westminster Library Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/homepage">Home</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink="/addItem">Add Item</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/removeItem">Remove Item</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" routerLink="/displayItem">Display items</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/borrowItem">Borrow item</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" routerLink="/returnItem">Return item</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/generateReport">Generate report</a>
                  </li>

            
    </ul>
  </div>
</nav>